{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | HexaShop</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/message.css' %}">

</head>
<body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    <section class="login-container">
        <div class="login-box">
            <h2>Login to HexaShop</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <div class="signup-link">
                Don’t have an account? <a href="{% url 'signup' %}">Sign up here</a>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'myapp/js/message.js' %}"></script>
</body>
</html>
