.messages {
    list-style: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.messages li {
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px 18px;
    border-radius: 10px;
    
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    min-width: 240px;
}

.messages li.success {
    background: rgb(255, 255, 255) !important;
    color: rgb(82, 255, 88) !important;
    border: 1px solid black !important;
}

.messages li.warning {
    background: rgb(255, 255, 255) !important;
    color: rgb(255, 71, 71) !important;
    border: 1px solid black !important;
}

.messages li.info {
    background: rgb(255, 255, 255) !important;
    color: rgb(71, 153, 255) !important;
    border: 1px solid black !important;
}